/* estilo para formulario de la página principal*/
form {
    justify-content: center;
    display: block;
    align-items: center;
    text-align: center;
}

label,
textarea,
input[type="submit"] {
    font-family: "viga";
    justify-content: center;
    margin-right: 10px;
}

#enviar{
    background-color: #5b000080;
    color: white;
    border:solid 1px rgb(0, 0, 0);
    border-radius: 20%;
    font-family: "viga";
    width: 100px;
    height: 40px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#enviar:active {
    background-color: black; 
}

#comentario, input {
    border: 2px solid black; 
    border-radius: 5px;
    font-family: "viga";
    padding: 5px;
}

#comentario::placeholder {
    font-family: "viga";
    text-align: center;
}

#tituloComent{
    text-align: center;
    font-family: "viga";
    margin-top: 40px ;
}


#comentariosDestacados {
    font-family: "viga";
    margin-top: 20px;
    text-align: center;
    margin-left: 40px;
}

.comentario {
    width: 350px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ccc; 
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    font-family: "viga";
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.comentario h3 {
    margin: 0;
    font-size: 1.6em;
    font-family: "viga";
}
.comentario p {
    margin: 5px 0 0;
    font-size: 1em;
    font-style: oblique;
    margin-top: 30px;
    font-family: "viga";
}

select#puntuacion {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 225, 230) !important;
    color: rgb(0, 113, 128) !important;
    border: 2px solid rgb(0, 109, 128) !important;
    font-size: 16px;
}

select#puntuacion option {
    background-color: rgb(255, 227, 232) !important;
    color: rgb(0, 19, 128) !important;
}

select#puntuacion:hover {
    background-color: rgb(0, 41, 128) !important;
    color: rgb(255, 220, 225) !important;
}

select#puntuacion:hover option {
    background-color: rgb(0, 92, 128) !important;
    color: rgb(255, 231, 235) !important;
}
