$alineacion:center;
$posicion: flex;
$max: 100%;
$fuenteTexto: ('Arial, sans-serif', 'Aladin, system-ui', 'Viga, sans-serif');

@font-face {
    font-family: 'Aladin';
    src: url('/Aladin-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Viga';
    src: url('/Aladin-Regular.ttf') format('truetype');
}

.juego{
    background-color:rgb(132, 204, 153);
    background-size: cover;
    font-family: 'Viga', sans-serif;
    margin: 0;
    padding: 0;
}

.titulo{
    padding-top: 75px;  
    justify-content: $alineacion;
    display: $posicion;
}

.titulo > h1{
    font-family: 'Aladin';
    font-size: 700%;
    color: #0f560d;
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
    animation: aparecer 5s forwards;
    opacity: 0;
}

.titulo {
    position: relative;
}
@keyframes aparecer {
    from {
        opacity: 0; 
    }
    to {
        opacity: 2;
    }
}

.logo{
    background-color: rgba(75, 165, 102, 0.096);
    border-radius: $max;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 20%;
    left: 25px;
}

.logo:hover {
    background-color: rgba(25, 129, 60, 0.377);
    border:2px solid rgb(17, 80, 5);
}

.logo > img{
    margin-left: 25%;
    width: 60%;
    height: 70%;
    margin-top: -10%;
}

#imagen {
    display: none;
    width: 150px;
    height: 150px;
    height: auto;
    margin-top: -90%;
    margin-left: 70%;
}

.logo > h5{
    width: 93px;
    height: 20px;
    margin-top: 24%;
    margin-bottom: -5%;
    margin-left: 8%;
    color: white;
    transform: rotate(-45deg);
    background: linear-gradient(to right, #A19BE7 0%, #A19BE7 50%, #89B6C4 50%, #218D2C 100%);
}


.contenido{
    text-align: justify;
    justify-content: $alineacion;
    display: $posicion;
}

.contenido > h4{
    color: #000000;
    text-align: center;
    font-size: large;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 100px;
}

.usuario{
    padding-top: 10px;
    text-align: center;
    background-color: rgba(25, 129, 51, 0.377);
    border-bottom:2px solid rgb(5, 80, 34);
}

#boton {
    position: fixed;
    top: 30px;
    right: 30px;
    padding: 10px 20px;
    margin-top: 40px;
    background-color: rgba(25, 129, 48, 0.377);
    color: white;
    border: none;
    height: 70px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  /* Estilos para el menú lateral */
  #menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 260px;
    height: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
  }
  
  /* Ocultar el menú por defecto */
  #menu.hidden {
    transform: translateX(100%);
  }
  
  /* Estilos para la lista de opciones del menú */
  #menu ul {
    list-style-type: none;
    padding: 0;
    padding-top: 30%;
    padding-left: 10%;
  }
  
  #menu ul li {
    margin-bottom: 30px;
  }
  
  #menu ul li a:hover {
    color: #aef2a8;
    cursor: pointer;
  }

  #menu ul li a {
    color: white;
    text-decoration: none;
  }


/* Estilos para el contenido */

#cuestionario{
    display: column;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
    padding-bottom:0 ;
    padding: 5%;
    background-color: #3e8a60a6;
    border: solid 2px black;
    align-items: center;
    text-align: center;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.603);
}

.respuesta{

    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    outline: none;
    
    border: black 2px solid;
    border-radius: 50%;
    display: inline-block;
    width: auto;
    height: auto;
    margin: 15px;
    padding: 20px;
    margin-right: 10px;
    background-color: #D9D9D9;

}

#botones{
    justify-content: $alineacion;
    display: $posicion;
    padding-left:10%;
    padding-right:10%;
}

#botonSiguiente{
    background-color: #3e8a60a6;
    border: none;
    cursor: pointer;
    outline: none;

    border: black 2px solid;
    border-radius: 60%;
    margin: 10px;
    margin-top:0;
    width: 250px;
    height: 80px;
    font-size: larger;
    font-style: oblique;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);

}

#cuestionario > p{
    text-align: center;
}

#contadorPreguntas{
    text-align: justify;
    justify-content: $alineacion;
    display: $posicion;
    margin-top: 5%;
    margin-bottom: 10px;
}

/* estilos emoticonos informacion footer */

.img1{
    margin-right: 80px;
    width: 50px;
    height: 50px;
}

 .img2{
    width: 120px;
    height: 60px;
} 

button:hover {
    transform: scale(1.4);
}

button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
