/*
    Media Query
*/
/* Estilos para móviles y tablets */
@media only screen and (max-width: 768px) {
   
    .titulo > h1{
        font-size: 400%;
        margin-bottom: 0px;
    }

    .contenido > h4{
        margin-top: 40px;
    }

    .logo{
        width: 100px;
        height: 100px;
        top:10%;
        left: 10px;
    }

    .logo > img{
        margin-left: 30%;
        margin-top: -18%;
    }
    
    .logo > h5{
        width: 55px;
        height: 12px;
        margin-top: 25%;
        margin-bottom: 2%;
        margin-left: 4%;
        font-size: 12px;
    }

    .contenido > h4{
        font-size: 15px;
    }
    
    #mapa{
        width: 430px;
        height: 230px;  
    }

    .ruta2{
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
    }

    #imagenProducto1,  #imagenProducto2, #imagenProducto3{
        display: none;
    } 

    .h5{
        padding-left: 30px;
        padding-right: 30px;
    }
    
    #imagen {
        margin-top: -120%;
        width: 80px;
        height: 80px;
    }

    .show-more, .show-more1, .show-more2 {
        font-size: 10px;
        width: 80px;
        height: 40px;
        margin-left: 10%;
        padding-bottom: 10px;
    }

    .img1{
        margin-right: 40px;
        width: 40px;
        height: 40px;
    }

    .img2{
        width: 80px;
        height: 40px;
    } 

    .ruta1 > h3{
        font-size: 20px;
    }

    .encabezado {
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }

}

/* Media query para pantallas de portátiles */
@media (min-width:768px) and (max-width: 1390px) {

    .titulo > h1{
        font-size: 600%;
        margin-bottom: 10px;
        margin-top: 30px;
    }

    .contenido > h4{
        margin-top: 70px;
    }

    .logo{
        width: 170px;
        height: 170px;
        top:20%;
        left: 40px;
    }

    .logo > img{
        margin-left: 30%;
        margin-top: -20%;
    }

    #imagen {
        margin-top: -120%;
        width: 180px;
        height: 180px;
    }
    
    .logo > h5{
        width: 80px;
        height: 20px;
        margin-top: 25%;
        margin-bottom: 2%;
        margin-left: 4%;
        font-size: 15px;
    }

    .contenido > h4{
        font-size: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }

    #mapa{
        width: 820px;
        height: 360px;  
    }

    .ruta2{
        padding-left: 55px;
        padding-right: 55px;
        font-size: 20px;
    }

    #imagenProducto1,  #imagenProducto2, #imagenProducto3{
        display: none;
    } 

    .h5{
        padding-left: 30px;
        padding-right: 30px;
    }
    
    #imagen {
        margin-top: -110%;
        width: 120px;
        height: 120px;
    }

    .show-more, .show-more1, .show-more2 {
        font-size: 15px;
        width: 100px;
        height: 50px;
        margin-left: 10%;
        padding-bottom: 10px;
    }

    .img1{
        margin-right: 40px;
        width: 40px;
        height: 40px;
    }

    .img2{
        width: 80px;
        height: 40px;
    } 

    .ruta1 > h3{
        font-size: 30px;
    }

    .encabezado {
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }

    .encabezado > h1{
        font-size: 50px;
    }

}
