$alineacion:center;
$posicion: flex;
$max: 100%;
$fuenteTexto: ('Arial, sans-serif', 'Aladin, system-ui', 'Viga, sans-serif');

@font-face {
    font-family: 'Aladin';
    src: url('/Aladin-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Viga';
    src: url('/Viga-Regular.ttf') format('truetype');
}

body{
    background: linear-gradient(to top, #004B5B, #1e9ac0, #FFFFFF);
    background-size: cover;
    font-family: 'Viga', sans-serif;
    margin: 0;
    padding: 0;
}

.titulo{
    padding-top: 5vw;  
    justify-content: $alineacion;
    display: $posicion;
}

.titulo > h1{
    font-family: 'Aladin';
    font-size: 8vw;
    color: #847be6;
     -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
    animation: aparecer 5s forwards;
    opacity: 0;
} 

.titulo {
    position: relative;
}
@keyframes aparecer {
    from {
        opacity: 0; 
    }
    to {
        opacity: 2;
    }
}

/* Estilos para el logotipo */
.logo{
    background-color: rgba(127, 169, 209, 0.192);
    border-radius: $max;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 20%;
    left: 25px;
}

.logo:hover {
    background-color: rgba(41, 100, 155, 0.377);
    border:2px solid rgb(34, 57, 100);
}

.logo > img{
    margin-left: 25%;
    width: 60%;
    height: 70%;
    margin-top: -10%;
}

.logo > h5{
    width: 93px;
    height: 20px;
    margin-top: 24%;
    margin-bottom: -5%;
    margin-left: 8%;
    color: white;
    transform: rotate(-45deg);
    background: linear-gradient(to right, #A19BE7 0%, #A19BE7 50%, #89B6C4 50%, #218D2C 100%);
}

#imagen {
    display: none;
    width: 150px;
    height: 150px;
    height: auto;
    margin-top: -90%;
    margin-left: 70%;
}

/* estilos parrafo de introduccion */
.contenido{
    text-align: justify;
    justify-content: $alineacion;
    display: $posicion;
}

.contenido > h4{
    color: #000000;
    text-align: center;
    font-size: 1.1vw;
    margin-right: 20vw;
    margin-left: 20vw;
    margin-top: 5vw;
}
#a1{
    font-size: 1.1vw;
}

.usuario{
    padding-top: 10px;
    text-align: center;
    background-color: #638dcc80;
    border-bottom:solid 2px #00275b80 ;
}

/* Estilos para el botón */
#boton {
    position: fixed;
    top: 30px;
    right: 30px;
    padding: 10px 20px;
    margin-top: 40px;
    background-color: #0b427581;
    color: white;
    border: none;
    height: 70px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  /* Estilos para el menú lateral */
  #menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 260px;
    height: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    z-index: 10000;
  }
  
  /* Ocultar el menú por defecto */
  #menu.hidden {
    transform: translateX(100%);
    z-index: 10000;
  }
  
  /* Estilos para la lista de opciones del menú */
  #menu ul {
    list-style-type: none;
    padding: 0;
    padding-top: 30%;
    padding-left: 10%;
    z-index: 10000;
  }
  
  #menu ul li {
    margin-bottom: 30px;
    z-index: 10000;
  }
  
  #menu ul li a:hover {
    color: #55d7ff;
    cursor: pointer;
    z-index: 10000;
  }

  #menu ul li a {
    color: white;
    text-decoration: none;
    z-index: 10000;
  }

/* Estilos para el contenido */
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    color:aliceblue;
}

#contenidoGrande {
    margin-left: 8vw;
    margin-right: 5vw;
    text-align: justify;
}

/* estilo para los anuncios*/ 
#anuncio1 {
    float: left;
    width: 160vw;
    margin-left: 5vw;
}

#anuncio1 > img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

#anuncio2 {
    display: flex;
    justify-content: $alineacion;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    width: 80vw;
    margin-left: 10vw;
}

#anuncio2 > img{
    max-width: 100%;
    max-height: 100%;   
}

/* estilo h5 final*/
.spam{
    justify-content: center;
    display: flex;
    font-family: "viga";
    margin-top: 2vw;
    font-size: 1vw;
}

#a2 {
    color: white;
    font-size: 1vw;
}

/* estilos calendario */

.content-home{
    display: column;
    margin-left: 25vw;
    display: $posicion;
    justify-content: $alineacion;
    color: white;
}

#calendar-container{
    width: 100vw;
    margin-right: 25vw;
}

.fc-toolbar-chunk > button{
    width: 60px;
    font-size: 10px;
}

.fc-button-group > button{
    width: 50px;
    font-size: 20px;
}

/* estilos informacion calendario */
* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#imagen {
    display: none;
    width: 150px;
    height: 150px;
    height: auto;
    margin-top: -90%;
    margin-left: 70%;
}

.menu {
    background-color: #7aafff;
    height: 60px;
    width: 100%;
    border: 0;
}

.menu div {
    display: flex;
    margin: 0 auto;
    width: 800px;
    height: 100%;
}

.menu div h1, .menu div a {
    display: inline-flex;
    align-items: center;
}

.menu div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #ebedee;
    font-weight: normal;
}

.menu div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c4c8cc;
    font-weight: bold;
}

.menu div a i {
    padding: 2px 8px 0 0;
}

.menu div a:hover {
    color: #ebedee;
}

.content {
    width: 800px;
    margin: 0 auto;
}

.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #ebebeb;
    color: #ffffff;
}

 /* dias de la semana color*/
#calendar > div.fc-view-harness.fc-view-harness-active > div > table > thead > tr > th > div > div > table > thead > tr{
    background-color: #c2c8ffe8; 
    margin: 5px; 
    text-align: center; 
    font-style: oblique;
}

#calendar-container {
    position: relative;
}

.calendar-container-small {
    max-width: 800px; 
    margin: 0 auto;
}

#eventInfo {
    background-color: #ffffff;
    color: #275497;
    padding: 10px;
    margin-top:25%;
    border-radius: 5px;
    position: absolute;
    left: -450px;
    top: 0;
    height: 300px;
    width: 380px; 
}

.calendar {
     cursor: url(http://www.rw-designer.com/cursor-extern.php?id=93071), auto;
}

/* estilos emoticonos informacion footer */
.img1{
    margin-right: 80px;
    width: 50px;
    height: 50px;
}

 .img2{
    width: 120px;
    height: 60px;
} 

button:hover {
    transform: scale(1.4);
}

button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}