/* estilos generales y principales*/
$alineacion:center;
$posicion: flex;
$max: 100%;
$ninguno: 0;
$fuenteTexto: ('Arial, sans-serif', 'Aladin, system-ui', 'Viga, sans-serif');

@font-face {
    font-family: 'Aladin';
    src: url('/Aladin-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Viga';
    src: url('/Viga-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('/KaushanScript-Regular.ttf') format('truetype');
}

body{
    background-attachment: fixed;
    background: linear-gradient(to bottom,#6579ec, #9e8dfd,#b7abfc, #ffffff);
    background-size: cover;
    font-family: 'Viga', sans-serif;
    margin: $ninguno;
    padding: $ninguno;
}

.titulo{

    padding-top: 75px;  
    justify-content: $alineacion;
    display: $posicion;

}

.titulo > h1{
    font-family: 'Aladin';
    font-size: 700%;
    color: #180d56;
     -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
    animation: aparecer 5s forwards;
    opacity: $ninguno;
} 

.titulo {
    position: relative;
}
@keyframes aparecer {
    from {
        opacity: $ninguno; 
    }
    to {
        opacity: 2;
    }
}

.usuario{
    padding-top: 10px;
    text-align: center;
    background-color: #4c4b9980;
    border-bottom:solid 2px #06005b80 ;
}

/* estilos para el logotipo*/
.logo{
    background-color: rgba(145, 127, 209, 0.192);
    border-radius: $max;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 20%;
    left: 25px;
}

.logo:hover {
    background-color: rgba(71, 41, 155, 0.377);
    border:2px solid rgb(34, 46, 100);
}

.logo > img{
    margin-left: 25%;
    width: 60%;
    height: 70%;
    margin-top: -10%;
}

.logo > h5{
    width: 93px;
    height: 20px;
    margin-top: 24%;
    margin-bottom: -5%;
    margin-left: 8%;
    color: white;
    transform: rotate(-45deg);
    background: linear-gradient(to right, #A19BE7 0%, #A19BE7 50%, #89B6C4 50%, #218D2C 100%);
}

#imagen {
    display: none;
    width: 150px;
    height: 150px;
    height: auto;
    margin-top: -90%;
    margin-left: 70%;
}

/* contenido */
#mensaje {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
}

#imgMensaje {
    margin-top: 20px; 
    width: 300px;
}


/* estilos para la introduccion*/
.contenido{
    text-align: justify;
    justify-content: $alineacion;
    display: $posicion;
}

.contenido > h4{
    color: #000000;
    text-align: $alineacion;
    font-size: large;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 100px;
}

  /* Estilos para el menú lateral */
#boton {
    position: fixed;
    top: 30px;
    right: 30px;
    padding: 10px 20px;
    margin-top: 40px;
    background-color: #1b0b7581;
    color: white;
    border: none;
    height: 70px;
    border-radius: 20px;
    cursor: pointer;
  }
  
#menu {
    position: fixed;
    top: $ninguno;
    right: $ninguno;
    width: 260px;
    height: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
  }
  
#menu.hidden {
    transform: translateX(100%);
  }
  
#menu ul {
    list-style-type: none;
    padding: 0;
    padding-top: 30%;
    padding-left: 10%;
  }
  
#menu ul li {
    margin-bottom: 30px;
  }
  
#menu ul li a:hover {
    color: #805dff9f;
    cursor: pointer;
  }

#menu ul li a {
    color: white;
    text-decoration: none;
  }

/* estilos emoticonos informacion footer */
.img1{
    margin-right: 80px;
    width: 50px;
    height: 50px;
}

 .img2{
    width: 120px;
    height: 60px;
} 

button:hover {
    transform: scale(1.4);
}

button {
    border: none;
    background: none;
    padding: $ninguno;
    margin: $ninguno;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}